@import "../../assets/styles/vars.scss";

.searchBlock {
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
    position: relative;
    top: -70px;

    // border: 2px dashed rgb(226, 172, 70);

    &__input {
        width: 50vw;
        button {
            background: $blueColor;
            width: 150px;
        }
    }
}
